@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
#map { height: 180px; }

.serif {
    font-weight: bold;
    font-style: italic;
    font-family: "Serif";
}

h1 {
    font-family: 'Manrope', sans-serif;
}